
html ,body {
  background-color: black;
  overflow-x: hidden;
    width:100%;
    height:auto;
  font-family: 'Nunito', sans-serif;
}
header {
  display: flex;
  justify-content: center;
}
.ul  {
list-style-type: none;
display: flex;
justify-content: center;
top: 0;
padding: 0 10px;
color: white;
margin-top: 0.5em;
}

.li {
  padding: 0 12px; 
  font-size: medium;
 
}
  a {
    text-decoration: none;
    color: inherit;
  }
li a:hover {
  color: orangered;
}
.links{
  text-align: center;
  align-items: center;
  color: rebeccapurple;
}
 .links:hover {
  color: orange;
}
.profile-container {
  background-color: white;
  
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
  min-height: 600px;
}
.profile-pic {
  width: 300px;
 margin-top: 10px;
border-radius:50%!important;
  height: 300px;
}
.title {
  color: hsl(0, 0%, 0%);
font-size: 30px;
margin-bottom: 10px;
}

#about {
  min-height: 400px;
  color: white;
  justify-content: center;
}
.name {
  display: flex;
  font: normal normal normal 35px/1.5em 'open sans condensed';
 margin-bottom: 0em;
  color:white;
  justify-content: center;
}
.about {
  padding: 10px 100px 10px 90px;
  text-align: justify;
  font-size:19px;
  
}
li {
  list-style-type: none;
  text-align: center;
  padding: 2px 2px 2px 2px;
}
.projects {
  background-color: white;
  height: 100px;
  margin-top: 10px;
}

.projecttitle {
  display: flex;
  font: normal normal normal 35px/1.0em 'open sans condensed';
  padding-top: 20px;
  color:black;
  justify-content: center;
padding-top: 30px;

}

.projects-container {
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  justify-content: space-evenly;
    padding-bottom: 80px;
    background-color:white;
}

.description {
  text-align: center;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 14px;
  color: black;
}

#box-1 {
  background: linear-gradient(-45deg, #788cff, #b4c8ff);
height: 350px;
  width: 250px;
  margin-top: 30px;
}

.projectname {
  text-align: center;
  font-size: 25px;
  padding: 10px;
  color:black;
}


 hr {
   text-decoration-color: white;
 }

 .footertag {
   height: 100px;
   color: white;
   text-align: center;
margin-top: 40px;
 }